{% extends "shared/base.html" %}

{% block title %}Q&A - Python and SQL: intro / SQL platforms{% endblock %}

{% block content %}
    <h3 class="text-dark mb-4">ChatBot</h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold"><strong><span style="color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)); background-color: var(--bs-card-cap-bg);">Your Personal Study Assistant</span></strong></p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <form>
                                <div class="mb-3"><label class="form-label" for="signature"><strong>Ask me Python related question!</strong></label><textarea class="form-control" id="signature-2" rows="6" name="chatbot"></textarea></div>
                                <div class="mb-3"></div>
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Submit Questions</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card text-white bg-primary shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Q&amp;As</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3"><label class="form-label" for="questions_lbl"><strong>Your Questions:</strong></label><textarea class="form-control" id="signature-3" rows="4" name="chatbot_question_archive" readonly="" disabled=""></textarea></div>
                                        <div class="mb-3"></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-end mb-3"><label class="form-label text-end" for="answer_lbl"><strong>Bot's Answer</strong></label><textarea class="form-control" id="signature-1" rows="10" name="chatbot_question_answer" readonly=""></textarea></div>
                                        <div class="mb-3"></div>
                                    </div>
                                </div>
                                <div class="mb-3"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}